html 
    head 
        title Messanger App
        link(rel = "icon", type = "image/png", href = "../messengerapplogo.png")
        link(rel = "stylesheet", type = "text/css", href = "../static/css/app.css")
    body(white-space = "nowrap")
        header 
            image(id="applogotext", class="headerlogo", src = "../static/branding/messengerapplogotext.png", alt = "Messanger App Logo", width=240, height=40)
            form(action = "/settings" method = "GET")
                button(class="headerbutton", type = "Submit") Settings
            form(action = "/logout" method = "GET")
                button(class="headerbutton", type = "Submit") LOG OUT
        div(class = "container")
            span(class="box")
                div
                    div(class = "credentials-block")
                        div(id = "welcome") Welcome, #{username}.
                            form(action = "/logout" method = "GET")
                                button(type = "Submit") LOG OUT
                            form(action="/drop_user", method="POST")
                                input(type="hidden", name="username", value=username)
                                button(type="submit", onclick="return confirm('Are you sure you want to delete your account? This action cannot be undone.');") Delete Account
                            form(action = "/edit_username" method = "GET")
                                button(type = "Submit") Change Username    
                            form(action = "/edit_password" method = "GET")
                                button(type = "Submit") Change Password   
                div(class = "credentials-block")
                    h1#groups-container Groups
                div(class = "credentials-block")
                    h1#chat-container
    script.
        const groups = !{JSON.stringify(groups)}; // Embed groups data as a global JS variable
        var currentGroup = !{JSON.stringify(currentGroup)}; // Embed groups data as a global JS variable
                    
    script(src="https://cdn.socket.io/4.5.4/socket.io.min.js")
    script(src="static/js/app.js")