html 
    head 
        title Edit Password
        link(rel = "icon", type = "image/png", href = "../messengerapplogo.png")
        link(rel = "stylesheet", type = "text/css", href = "../app.css")
    body 
        image(id="applogotext", src = "../messengerapplogotext.png", alt = "Messanger App Logo", width=480, height=80)
        div(class = "credentials-block")
            div(id = "welcome") Welcome, #{username}.
            div(id = "welcome") Enter your new password below.
            form(action = "/edit_password" method = "POST")
                input(name = "password" type = "password" required placeholder = "Password")
                button(type = "Submit") UPDATE
            if (message)
                h4 #{message}