html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", type="text/css", href = "../static/css/app.css")
    title Socket.IO Chat
  body
    // Chat messages container
    ul#messages
    // Chat form
    form#form(action="", method="post")
      input#input(autocomplete="off", type="text", placeholder="Type a message...")
      button(type="submit") Send
    // Socket.IO and client-side scripts
    script(src="https://cdn.socket.io/4.5.4/socket.io.min.js")
    script(src="static/js/client.js")

