html 
    head 
        title Login
        link(rel = "icon", type = "image/png", href = "../messengerapplogo.png")
        link(rel = "stylesheet", type = "text/css", href = "../app.css")
    body 
        if (message)
            h4 #{message}
        form(action = "/login" method = "POST")
            input(name = "username" type = "text" required placeholder = "Username")
            input(name = "password" type = "password" required placeholder = "Password")
            button(type = "Submit") Log in
