html 
    head 
        title New Conversation
        link(rel = "icon", type = "image/png", href = "../messengerapplogo.png")
        link(rel = "stylesheet", type = "text/css", href = "../static/css/app.css")
    body 
        image(id="applogotext", src = "../static/branding/messengerapplogotext.png", alt = "Messanger App Logo", width=480, height=80)
        div(class = "credentials-block")
            form(action="/newconvo" method="post")
                select(name="options" id="dropdown")
                    each option in options
                        option(value=option._id) #{option.name}
                button(type="submit") Submit