html 
    head 
        title Protected page 
    body 
        div Welcome, #{username}. Use the link below to log out.
        div 
            p 
                a(href="/logout") Log out
            p 
                a(href="/edit_username") Change username
                br
                a(href="/edit_password") Change password