html 
    head 
        title Protected page
        link(rel = "icon", type = "image/png", href = "../messengerapplogo.png")
        link(rel = "stylesheet", type = "text/css", href = "../app.css")
    body 
        image(id="applogotext", src = "../messengerapplogotext.png", alt = "Messanger App Logo", width=480, height=80)
        div(class = "credentials-block")
            div(id = "welcome") Welcome, #{username}.
            div(id = "welcome") Use the button to log out.
            form(action = "/logout" method = "GET")
                button(type = "Submit") LOG OUT
        div
            p 
                a(href="/edit_username") Change Username    
            p
                a(href="/edit_password") Change Password

