html 
    head 
        title Signup
        link(rel = "icon", type = "image/png", href = "../messengerapplogo.png")
        link(rel = "stylesheet", type = "text/css", href = "../app.css")
    body 
        image(id="applogotext", src = "../messengerapplogotext.png", alt = "Messanger App Logo", width=480, height=80)
        div(class = "credentials-block")
            form(action = "/signup" method = "POST")
                input(name = "username" type = "text" required placeholder = "Username")
                input(name = "password" type = "password" required placeholder = "Password")
                input(name = "email" type = "text" required placeholder = "Email Address")
                button(type = "Submit") SIGN UP
            if(message)
                h4 #{message}
